body{
    background: linen;
}
.beta{
    color: darkcyan;
    font-size: 60px;
    font-family:fantasy;
}
.beta.1{
    color: 
}
:first{
    color: mistyrose
}
.bio{
    color: steelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.biog{color: mediumturquoise;}
.biod{color: mediumturquoise;}
.bioda{color: mediumturquoise;}
.biodat{color: mediumturquoise;}